.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items:  center;
  margin: 2.5vh auto;
}

.puzzleGrid {
  display: grid;
  grid-template-rows: repeat(10, 3em);
  grid-template-columns: repeat(10, 3em);
}

.puzzleSpace {
  padding: 0em;
  border: 1px solid #444;
  background-color: rgba(255,255,255,0.2);
  font-size: 2em;
  text-align: center;
}
.puzzleSpace:hover {
  border: 1px solid blue;
}
.puzzleSpace.active {
  background-color: yellow;
}
.puzzleSpace.invalid {
  color: red;
  font-weight: bold;
}

.puzzleClue {
  background-color: #ccc;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 0 L100 100' stroke='black' stroke-width='2' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
  border: 1px solid #444;
}
.puzzleClue:hover {
  border: 1px solid red;
}
.clueDown {
  position: relative;
  float: left;
  top: 1.4rem;
  text-align: left;
  text-overflow: clip;
  font-weight: bold;
  padding: 0.1em;
  cursor: pointer;
}
.clueRight {
  position: relative;
  float: right;
  top: -0.2rem;
  text-align: right;
  text-overflow: clip;
  font-weight: bold;
  padding: 0.1em;
  cursor: pointer;
}

.cluePopup {
  color: black;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  position: absolute;
  top: -2em;
  left: 2em;
  z-index: 2;
  max-width: 40vw;
}
.cluePopup .title {
  color: white;
  background-color: #3a404d;
  padding: 0.1em 0.25em 0 0.25em;
  margin: 0;
  font-size: 90%;
  font-weight: normal;
  text-align: left;
}
.cluePopup .body {
  padding: .1em .25em;
  font-size: 90%;
  font-weight: lighter;
  text-align: left;
}
.cluePopup .body span {
  padding: 0 0.2em;
}
.cluePopup .body .invalidcombo {
  color: grey;
}


.optionButton {
  opacity: 0;
  width: 0;
  height: 0;
}
.optionButton + label {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  color: #282c34;
  border: 1px solid #444;
}
.optionButton:focus + label {
  border: 1px solid #282c34;
}
.optionButton:checked + label {
  color: white;
  background-color: #282c34;
}

.pushButton {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  color: #282c34;
  border: 1px solid #444;
  background: none;
}
.pushButton:focus {
  border: 1px solid #282c34;
}
.pushButton:active {
  color: white;
  background-color: #282c34;
}


.cellHintGrid {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 0.35em;
  text-align: center;
  color: #888;
}